<!-- imagen 1 -->
<div class="news1">
  <div class="row">
    <div class="col-md-8 col-sm-12">
        <h2 class="blue-text"> Haga crecer su negocio </h2>
        <p> Participar del Programa implica cumplir con una serie de objetivos de ventas, marketing y profesionalización 
            explorando nuevas oportunidades de negocio, acompañado de la mano de expertos y técnicos capacitados.
        </p>
        <a class="btn btn-sm btn-primary" routerLink="/programa" routerLinkActive="active" > ACCIONES </a>
    </div>
    <div class="col-md-4 col-sm-12" style="padding-right: 2px" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" >
        <img class="img-right" src="assets/home/Beneficios_home_calificacion.jpg" alt="">
    </div>
  </div>
</div>
<!-- imagen 2 -->
<div class="news2">
  <div class="row">
    <div class="col-md-4 col-sm-12" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine"  >
        <img class="img-left" src="assets/home/Capacitacion-y-entrenamient-2o.jpg" alt="">
    </div>
    <div class="col-md-8 col-sm-12">
        <h2 class="blue-text"> Capacítese para estar al día </h2>
        <p> Partner Program pone a disposición una serie de cursos de capacitación, tanto en productos, sistemas 
            como en técnicas de comercialización y ventas para tener las mejores herramientas para afrontar los desafíos de hoy.
        </p>
        <a class="btn btn-sm btn-primary" target="_blank" href="http://www.knaufakademie.com.co/" > Capacitese </a>
    </div>
  </div>
</div>
<!-- imagen 3 -->
<div class="news1">
    <div class="row">
      <div class="col-md-8 col-sm-12">
          <h2 class="blue-text"> Forme parte de una red para destacarse en la cadena </h2>
          <p> La distinción obtenida al fin del ciclo demostrará que determinados Partners aprobaron las metas establecidas 
              por Knauf durante el 2018 y además acredita que están al día con la información sobre los productos Knauf.
            </p>
          <a class="btn btn-sm btn-primary" routerLink="/puntaje" routerLinkActive="active"> PUNTAJE </a>
      </div>
      <div class="col-md-4 col-sm-12" style="padding-right: 2px" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" >
          <img  class="img-right" src="assets/home/Trofeo.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- imagen 4 -->
<div class="news2">
    <div class="row">
        <div class="col-md-4 col-sm-12" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" >
            <img class="img-left" src="assets/home/Beneficios_home.jpg" alt="">
        </div>
        <div class="col-md-8 col-sm-12">
            <h2 class="blue-text"> Acceda a beneficios exclusivos </h2>
            <p> El esfuerzo que requiere superarse día a día tiene su premio. A los Partners con puntajes altamente 
                destacables les abriría puertas para gozar de beneficios exclusivos a lo largo del siguiente año.
            </p>
            <a class="btn btn-sm btn-primary" routerLink="/beneficios" routerLinkActive="active"> BENEFICIOS </a>
        </div>
    </div>
</div>