<!-- <app-logo></app-logo> -->
<!-- <app-logo></app-logo> -->
<!-- <div class="logoP col-md-8 offset-2">
    <img class="img-responsive" src="assets/home/Principal_Partner.jpg" alt="Partner Programm">
</div> -->
<!-- Carousel -->
<!-- <ngbd-carousel-basic></ngbd-carousel-basic>
<form >
  <div class="col-md-6 offset-3">
      <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="text" class="form-control" id="exampleInputUser" aria-describedby="userHelp" placeholder="User login">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        <button type="button" (click)="login()" class="btn btn-primary">Ingresar</button>
  </div>
    
  </form> -->

  <div class="page__login" style="background-image: url(assets/home/Principal_Partner_logo.jpg)">
    <div class="page__login__header text-left">
        <div class="row">
            <div class="col-lg-8">
                <div class="page__login__header__logo">
                    <a href="javascript: history.back();">
                        <img src="assets/menu/logo_partner_programm.png" alt="Partner Program" />
                    </a>
                    <!-- <a href="javascript: void(0);" class="btn btn-sm btn-outline ml-3 switch-to-fullscreen">Switch Fullscreen / Windowed</a>
                    <a href="javascript: void(0);" class="btn btn-sm btn-outline ml-3 random-bg-image" data-img="1">Randomize Background Image</a> -->
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="page__login__header__menu">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="javascript: history.back();">&larr; Back</a></li>
                        <li class="list-inline-item active"><a href="javascript: void(0);">Login</a></li>
                        <li class="list-inline-item"><a href="javascript: void(0);">About</a></li>
                        <li class="list-inline-item"><a href="javascript: void(0);">Support</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <div class="page__login__block">
      <div class="row">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-lg-4">
              <div class="page__login__block__promo blue-text text-center">
                <h1 class="mb-3">
                  <strong>BIENVENIDOS AL PARTNER PROGRAM KNAUF COLOMBIA</strong>
                </h1>
                <p>Participar del Programa implica cumplir con una serie de objetivos de ventas, marketing y profesionalización 
                    explorando nuevas oportunidades de negocio, acompañado de la mano de expertos y técnicos capacitados.
                </p>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="page__login__block__inner">
                <div class="page__login__block__form blue-text">
                  <h4 class="text-uppercase text-center">
                    <strong>Cambio de clave</strong>
                  </h4><br />
                  <p>
                    <ngb-alert *ngIf="alert.message" [type]="alert.type" (close)="alert.message = null">
                      {{ alert.message }}
                    </ngb-alert>
                  </p>
                  <form id="form-validation" name="form-validation" (submit)="requestPassword()">
                    <div class="form-group blue-text">
                      <label class="form-label">Usuario</label>
                      <input id="validation-email"
                        class="form-control"
                        placeholder="Ingrese el usuario"
                        name="validation[email]"
                        type="email"
                        data-validation="[EMAIL]"
                        [(ngModel)]="userEmail">
                    </div>
                    <!-- <div class="form-group">
                      <label class="form-label">Contraseña actual</label>
                      <input id="validation-password"
                        class="form-control password"
                        name="validation[password]"
                        type="password" data-validation="[L>=6]"
                        data-validation-message="$ must be at least 6 characters"
                        [(ngModel)]="userPassword">
                    </div> -->
                    <div class="form-group">
                      <label class="form-label">Nueva Contraseña</label>
                      <input id="validation-password"
                        class="form-control password"
                        name="validation[password]"
                        type="password" data-validation="[L>=6]"
                        data-validation-message="$ must be at least 6 characters"
                        [(ngModel)]="userPassword">
                    </div>
                    <!-- <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="example6" checked>
                            Recuérdame
                        </label>
                      </div>
                    </div> -->
                    <div class="form-actions text-center">
                      <button type="submit" [disabled]="!userEmail && !userPassword && !userPassword2"  class="btn btn-md btn-primary mr-3">Cambiar</button>
                      <!-- <span class="register-link">
                          <a href="" class="cat__core__link--blue cat__core__link--underlined">Regístrese</a> si no tiene usuario
                      </span> -->
                    </div>
                    <div class="form-group text-center blue-text">
                      <a mdbWavesEffect routerLink="/" routerLinkActive="active">Iniciar sesión</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page__login__footer text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="javascript: void(0);">Términos de uso</a></li>
            <li class="list-inline-item"><a href="javascript: void(0);">Información confidencial</a></li>
            <li class="list-inline-item"><a href="javascript: void(0);">Soporte</a></li>
            <li class="list-inline-item"><a href="javascript: void(0);">Contáctenos</a></li>
        </ul>
    </div>
  </div>

