<div class="cat__footer col-lg-10 offset-1">
    <div class="cat__footer__logos">
        <div class="row">
            <div class="col-lg-3 mb-3 offset-9 text-right">
                <a target="_blank" rel="noopener" href="https://www.facebook.com/KnaufCO/"><i class="fa fa-facebook icon-circle"></i></a>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/knaufcolombia/"><i class="fa fa-linkedin icon-circle"></i></a>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/knaufcolombia/"><i class="fa fa-instagram icon-circle"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <img src="https://www.knauf.com.ar/images/logo_footer.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="https://www.knauf.com.ar/images/logos_footer/aquapanel.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <img src="https://www.knauf.com.ar/images/logos_footer/heradesign.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="https://www.knauf.com.ar/images/logos_footer/amf.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cat__footer__top">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <h4>EMPRESA</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a target="_blank" href="http://www.knauf.com.co/index.php?r=site/Company">Nosotros</a></li>
                            <!-- <li class="mb-2"><a target="_blank" href="javascript: void(0);">Vertical Menu (Default)</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Ecommerce Version</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Horizontal Menu + Boxed Container</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Iconbar Vertical Menu</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Inverse Color Scheme</a></li> -->
                        </ul>
                    </div>
                    <div class="col-6">
                        <h4>PRODUCTOS</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=1">Placas de Yeso</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=13">Placas especiales</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=31">Placas acústicas</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=27">Placas para exteriores</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=26">Placas desmontables</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=15">Placas cementicias</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=4">Masillas</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=29">Cintas</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=30">Adhesivos</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=32">Lana mineral</a></li>
                            <li><a href="http://www.knauf.com.co/index.php?r=product/index&product_category_id=1&product_subcategory_id=33">Revoques</a></li>
                            <!-- <li class="mb-2"><a target="_blank" href="javascript: void(0);">Super Clean Mode + Menu Shadow</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Horizontal Menu</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Compact Horizontal Menu</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Vertical Menu + Boxed</a></li>
                            <li class="mb-2"><a target="_blank" href="javascript: void(0);">Horizontal Menu + Boxed</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <h4>SISTEMAS</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=site/systems">Sistemas de construcción en seco</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h4>BENEFICIOS</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=site/benefits">Beneficios de nuestros productos</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="cat__footer__description">
                    <p>Clean UI – a modern professional admin template, based on Bootstrap 4
                        framework. Clean UI is a powerful and super flexible tool, which suits best for any
                        kind of web application: Web Applications; CRM; CMS; Admin Panels; Dashboards; etc.
                        Clean UI is fully responsive, which means that it looks perfect on mobiles and
                        tablets</p>

                    <p>Clean UI is fully based on SASS pre-processor, includes 50+ commented SASS files.
                        Each file corresponds to a single component, layout, page, plugin or extension –
                        so you can easily find necessary piece of code and edit it for your needs.
                        The package includes both normal and minified CSS files, compiled from SASS</p>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <!-- <div class="mb-3">
                    <strong>Check Out Preselected Demos</strong>
                </div> -->
                <div class="row">
                    <div class="col-6">
                        <h4>ARQUITECTURA Y DISEÑO</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=news/index&news_category_id=1">Obras a nivel mundial con sello Knauf </a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h4><h4>VALORES</h4></h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=site/values">Nuestros valores </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <h4>PAGOS</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="https://www.psepagos.co/PSEHostingUI/ShowTicketOffice.aspx?ID=5553">Info</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h4>NOTICIAS</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=news/index&news_category_id=3">Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <h4>SUSTENTABILIDAD</h4>
                        <ul class="list-unstyled mb-3">
                            <li><a href="http://www.knauf.com.co/index.php?r=site/commitment">Nuestro compromiso con el planeta </a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                            <h4>CONTACTO</h4>
                            <ul class="list-unstyled mb-3">
                                <li><a href="http://www.knauf.com.co/index.php?r=site/contact">Info</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="fa fa-arrow-up"></i></a>
</div>