<div class="row">
  <!-- <div class="col-md-6" *ngFor="let benefit of benefits">
    <a routerLink="/{{benefit.link}}" routerLinkActive="active">
      <img style="float:center; padding:15px" class="img-responsive" src="{{benefit.image}}" alt="Partner Programm">
    </a>
  </div> -->
  <div class="col-md-6">
    <a (click)="modalLogistics()">
      <img style="float:center; padding:15px" class="img-responsive" src="assets/beneficios/Beneficios_logistica.jpg" alt="Partner Programm">
    </a>
  </div>
  <div class="col-md-6">
    <a (click)="modalExcursion()">
      <img style="float:center; padding:15px" class="img-responsive" src="assets/beneficios/Beneficios_Excursion.jpg" alt="Partner Programm">
    </a>
  </div>
  <div class="col-md-6">
    <a (click)="modalTraining()">
      <img style="float:center; padding:15px" class="img-responsive" src="assets/beneficios/Beneficios_Entrenamiento.jpg" alt="Partner Programm">
    </a>
  </div>
  <div class="col-md-6">
      <a (click)="modalNetwork()">
        <img style="float:center; padding:15px" class="img-responsive" src="assets/beneficios/Beneficios_Evento.jpg" alt="Partner Programm">
      </a>
    </div>
</div>

