<app-logo></app-logo>
<div class="benefit text-left">
  <h2> Sumar tiene recompensas!</h2>
  <p>Al finalizar el año trabajado, y luego de haber sumado los puntos correspondientes, los distribuidores participantes 
    que obtengan puntajes altamente destacables recibirán su status como Partner Knauf. Este status les dará acceso a
      beneficios exclusivos que serán gozados durante el año siguiente al término del programa*. <br>
      <b>* Fin del programa 31 de diciembre de 2018</b></p>
  <!-- <p>El compromiso y esfuerzo tendrá su recompensa.</p>
  <p> <i class="fa fa-phone-square icon-circle"></i><b class="blue-text"> SERVICIO PERSONALIZADO <br> </b>Servicio personalizado directo con el quipo comercial y técnico.</p>
  <p> <i class="fa fa-paper-plane icon-circle"></i><b class="blue-text"> COTIZACIONES <br> </b>Las propuestas ecónomicas y especializadas tendrán prioridad.</p>
  <p> <i class="fa fa-code-fork icon-circle"></i><b class="blue-text"> SOPORTE EN VENTAS <br> </b>Información y apoyo en proyectos, oportunidades con constructoras.</p>
  <p> <i class="fa fa-truck icon-circle"></i><b class="blue-text"> SERVICIO DE ENTREGA <br> </b>Entregas priorizadas, servicios especiales en consolidación de la carga y novedades en pedidos programados.</p>
  <p> <i class="fa fa-briefcase icon-circle"></i><b class="blue-text"> MERCADEO <br> </b>Catálogo de mercadeo exclusivo para socios comerciales.</p>
  <p> <i class="fa fa-mortar-board icon-circle"></i><b class="blue-text"> ENTRENAMIENTO <br> </b>Entrenamientos exclusivos del portafolio de prodcutos.<br>
    Capacitación para vendedores o instaladores en el sitio, previamente definido por el cliente<br>
    Seminarios de conferencistas especializadas en diversos temas, dirigido a directivos de los puntos de venta.</p>
  <p> <i class="fa fa-glass icon-circle"></i><b class="blue-text"> EVENTOS DE LA RED <br> </b>Asistencia exclusiva para partners de la red Knauf.</p> -->
</div>
<app-gallery></app-gallery>

