// h1 {
//     font-family: 'FuturaStd';
// }

// h4 {
//     font-family: 'FuturaStd';
// }

// Inicio Pruebas

//  fin Pruebas
* {
    box-sizing: border-box;
}

.header {
    height: 100vh;
    // display: flex;
    // align-items: center;
}
.content {
    max-width: 96rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}


// .row {
//     margin-top: 30px;
//     margin-bottom: 30px;
//     text-align: left;
// }

.v-background {
    height: 100vh;
    display: flex;
    align-items: left;
    color:#00aef6;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: left;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video video {
    min-width: 100%;
    min-height: 100%
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    // background: #225470;
    z-index: 1;
    // opacity: 0.65;
}

.header-content{
    z-index: 2;
}

@media(max-width:960px) {
    .content {
        padding:0 0 0 0;
    }
}

.logoP {
    padding: 15px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn-primary {
    background-color: #00aef6 !important;
    color: #ffffff !important;
}
.page__login {
    background-size: cover;
    background-color: #f2f4f8;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

.page__login--fullscreen {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.page__login__block {
    // padding: 11.71rem 2.85rem 11.71rem;
    padding: 11.71rem 5.85rem 9.71rem 6.85rem;
    width: 100%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    position: relative;
    z-index: 2;
    color: #00aef6;
}

@media (max-width: 991px) {
    .page__login__block {
        padding: 5.71rem 1.42rem 5.71rem;
    }
}

.page__login__block__inner {
    min-width: 21.42rem;
    max-width: 23.71rem;
    margin: 0 auto;
    padding: 3.57rem 2.85rem 1.42rem;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    opacity: 0.85;
}

.page__login__block__form {
    position: relative;
    z-index: 2;
    text-align: left;
}

.page__login__block__promo {
    padding: 0 0 4.28rem;
    max-width: 57.14rem;
    font-size: 1.14rem;
    line-height: 1.85rem;
    text-align: center;
    margin: 0 auto;
}

.page__login__block__sidebar {
    display: none;
}

@media (min-width: 992px) {
    .page__login__block--extended .page__login__block__inner {
        max-width: 57.14rem;
        padding: 5.71rem 5.71rem 3.57rem;
    }
    .page__login__block--extended .page__login__block__form {
        margin-right: 21.42rem;
    }
    .page__login__block--extended .page__login__block__sidebar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 21.42rem;
        padding: 5.71rem 2.85rem;
        color: #00aef6;
        background: #222034;
    }
    .page__login__block--extended .page__login__block__sidebar__item {
        padding-left: 1.42rem;
        border-left: 2px solid #74708d;
        margin-bottom: 1.42rem;
        color: #74708d;
    }
    .page__login__block--extended .page__login__block__sidebar__title {
        margin-bottom: 1.42rem;
        line-height: 1.5;
    }
    .page__login__block--extended .page__login__block__sidebar__place {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        z-index: 2;
        bottom: 2.85rem;
        left: 2.85rem;
    }
}

.page__login__header {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    width: 100%;
    color: #00aef6;
    padding: 2.85rem;
}

@media (max-width: 991px) {
    .page__login__header {
        padding: 2.85rem 1.42rem 2.85rem;
    }
}
.page__login__header__logo{
    // padding: 2.85rem;
    text-align: left;
}

.page__login__header__logo img {
    max-width: 10.71rem;
    max-height: 3.57rem;
}

.page__login__header__menu {
    text-align: right;
    margin-top: 0.71rem;
}

@media (max-width: 991px) {
    .page__login__header__menu {
        text-align: left;
    }
}

.page__login__header__menu ul {
    font-size: 1.14rem;
}

.page__login__header__menu ul li {
    margin-right: 1.42rem;
    text-transform: uppercase;
}

.page__login__header__menu ul li:last-child {
    margin-right: 0;
}

.page__login__header__menu ul li.active a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.page__login__header__menu ul li a {
    color: #00aef6 !important;
    line-height: 1.4;
    display: inline-block;
    margin-right: 0.71rem;
    font-weight: bold;
}

.page__login__header__menu ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.page__login__footer {
    // -webkit-align-self: flex-end;
    //     -ms-flex-item-align: end;
    //         align-self: flex-end;
    width: 100%;
    color: white;
    padding: 2.85rem;
    position: relative;
}