h2 {
    color: #00aef6;
    padding-bottom: 30px;
}
label {
    color: #00aef6;
}

.contact {
    padding: 30px;
}

p {
    color: #00aef6;
    font-size: 13px;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #00aef6 !important;
}

.contactLogo {
    position: relative;
    top: -41px;
}