
main {
    background-color: #ffffff;
    font-family: 'FuturaStd', Verdana, Geneva, Tahoma, sans-serif;
}

.primary-color {
    background-color: #ffffff;
}

.blue-text {
    color: #00aef6 !important;
}

body {
    background-color: #edece8 !important;
}

// .fixed-top {
//     padding-left: 0px !important;
//     padding-right: 0px !important
// }

.text-center{
    padding-left: 0px !important;
    padding-right: 0px !important
}


// header {
//     padding-left: 78px;
//     padding-right: 78px;
//     padding: 0px
// }


