.partner {
    padding: 40px;
}

.partner>p {
    font-family: 'FuturaStd' ,Tahoma, Arial, Helvetica, sans-serif;
    color: #6d6e70;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

.partner>h2 {
    text-align: left;
    font-family: 'FuturaStd' ,Tahoma, Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: inherit;
    margin-bottom: 40px;
    font-weight: bold;
}

.partner .row>p {
    font-family: 'FuturaStd' ,Tahoma, Arial, Helvetica, sans-serif;
    color: #6d6e70;
    font-size: 20px;
    text-align: center;
    font-display: bold;
    padding: 20px;
}

.fixed-top {
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}