<!-- Logo propio de la pagina -->
<app-logo></app-logo>
<div class="partner text-left">
    <p> Programa exclusivo para puntos de venta que tiene como objetivo reconocer los resultados obtenidos por cada uno de ellos, 
        que de acuerdo a una clasificación objetiva del programa podrán adquirir su puntuación. Se busca mejorar la rentabilidad del 
        Partner con un portafolio especializado, crecimiento profesional y disfrutar de grandes beneficios para su negocio o empresa, 
        teniendo como base la transparencia e igualdad del programa para todos los puntos de venta. Los resultados obtenidos se construirán 
        sobres tres pilares: 
    </p>
    <div class="row">
        <p class="col-md-4"> <i class="fa fa-check-square blue-text"></i> Portafolio de productos </p>
        <p class="col-md-4"> <i class="fa fa-commenting blue-text"></i> Promotor de la marca </p>
        <p class="col-md-4"> <i class="fa fa-briefcase blue-text"></i> Proactividad </p>
    </div>
</div>
<app-news></app-news>