<app-logo></app-logo>
<div class="merchandising text-left">
  <h1>Kits de Merchandising</h1>
  <p>Solicite su kit fidelización al  correo <a href="mailto:partner@knauf.com.co">partner@knauf.com.co</a> </p>
  <p class="text blue-text"> Podrá solicitar uno (1) de los kits aquí exhibidos durante la vigencia del programa. </p>
</div>
<div class="row">
    <!-- imagen 1 -->
    <div class="col-md-4">
        <img class="img-responsive" src="assets/images/Buzo-fleece-Catalogo.jpg" alt="Partner Programm">
    </div>
    <div class="merchandising_text col-md-2">
        <div class="form-group">
            <h3> CHAQUETA NEGRO QUECHUA </h3>
            <p>Buzo manga larga, cortaviento, transpirable y stretch, logo en pecho izquierdo.</p>
            <p>Disponibilidad de tallas: M – L – XL</p>
        </div>
    </div>
    <!-- imagen 4 -->
    <div class="col-md-4">
            <img class="img-responsive" src="assets/images/Chaleco.jpg" alt="Partner Programm">
        </div>
        <div class="merchandising_text col-md-2">
            <div class="form-group">
                <h3> CHALECO KNAUF </h3>
                <p>Chaleco con forro de red, cuello y fondo elástico, perfiles cuello de color, bolsillo en el pecho
                    y dos bolsillos externos con cremallera.</p>
                <p>Disponibilidad de tallas: S - M – L – XL</p>
            </div>
        </div>
    
</div>
<div class="row">
    <!-- imagen 3 -->
    <div class="col-md-4">
        <img class="img-responsive" src="assets/images/Camiseta_polo_blanca.jpg" alt="Partner Programm">
    </div>
    <div class="merchandising_text col-md-2">
      <div class="form-group">
          <h3> CAMISETA POLO BLANCO </h3>
          <p>Polo en algodón, 3 botones, color blanco y logo estampado en pecho izquierdo tamaño
            bolsillo en color azul.</p>
          <p>Disponibilidad de tallas: S - M – L – XL</p>
      </div>
    </div>
     <!-- imagen 5 -->
     <div class="col-md-4">
        <img class="img-responsive" src="assets/images/Gorras.jpg" alt="Partner Programm">
    </div>
    <div class="merchandising_text col-md-2">
      <div class="form-group">
          <h3> GORRA KNAUF </h3>
          <p>Gorra de 5 paneles, hecho de 100% algodón, visera rígida precurvado con impresión y
            cierre ajustable con hebilla.</p>
            <p>Disponibilidad de tallas: S - M – L – XL</p>
      </div>
    </div>
</div>
<div class="row">
    <!-- imagen 2 -->
    <div class="col-md-4">
            <img class="img-responsive" src="assets/images/Camiseta_polo.jpg" alt="Partner Programm">
        </div>
        <div class="merchandising_text col-md-2">
            <div class="form-group">
                <h3> CAMISETA POLO AZUL </h3>
                <p>Polo en tela Dry Fit, 3 botones, color azul rey y logo estampado en pecho izquierdo tamaño
                    bolsillo en color blanco.
                </p>
                <p>Disponibilidad de tallas: S - M – L – XL</p>
            </div>
        </div>
   
    <!-- imagen 7 -->
    <div class="col-md-4">
        <img class="img-responsive" src="assets/images/Roller-Pen-Catalogo.jpg" alt="Partner Programm">
    </div>
    <div class="merchandising_text col-md-2">
      <div class="form-group">
          <h3> ROLLER PEN </h3>
          <p>Bolígrafos a presión, escritura excelente, muy suave, tinta color negro.</p><br>
      </div>
    </div>
</div>
<div class="row">
     <!-- imagen 6 -->
     <div class="col-md-4">
        <img class="img-responsive" src="assets/images/Cuadernillo.jpg" alt="Partner Programm">
    </div>
    <div class="merchandising_text col-md-2">
        <div class="form-group">
            <h3> CUADERNILLO KNAUF </h3>
            <p>Tamaño 14,5 cms x 20, 5 cms, 80 hojas en blanco.</p><br>
        </div>
    </div>
    <!-- imagen 8 -->
    <div class="col-md-4">
        <img class="img-responsive" src="assets/images/Sombrilla.jpg" alt="Partner Programm">
    </div>
    <div class="merchandising_text col-md-2">
        <div class="form-group">
            <h3> SOMBRILLA TIPO GOLF </h3>
            <p>Súper paraguas de 21 cms, apertura automática y cierre manual, mango de goma.</p><br>
        </div>
    </div>
</div>
