<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <h3><img src="{{bullet}}" alt=""> Knauf Partner Program </h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p> Programa exclusivo para puntos de venta que tiene como objetivo reconocer los resultados obtenidos por cada uno de ellos, 
        que de acuerdo a una clasificación objetiva del programa podrán adquirir su puntuación. Se busca mejorar la rentabilidad del 
        Partner con un portafolio especializado, crecimiento profesional y disfrutar de grandes beneficios para su negocio o empresa, 
        teniendo como base la transparencia e igualdad del programa para todos los puntos de venta. Los resultados obtenidos se construirán 
        sobres tres pilares:</p>
      <div class="row">
        <p class="col-md-4 text-center"> <i class="fa fa-check-square blue-text"></i> Portafolio de productos </p>
        <p class="col-md-4 text-center"> <i class="fa fa-commenting blue-text"></i> Promotor de la marca </p>
        <p class="col-md-4 text-center"> <i class="fa fa-briefcase blue-text"></i> Proactividad </p>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <h3><img src="{{bullet}}" alt=""> Cómo sumar puntos </h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p> Al finalizar el semestre trabajando y luego de haber sumado los puntos, el participante obtendrá una calificación que le permitirá 
          ganar su posición como Knauf Partner a partir de 50 puntos o más.<br>
          De acuerdo al puntaje logrado cada punto de venta podrá disfrutar de los beneficios correspondientes a sus status a partir del segundo 
          semestre del año en curso.<br>
          La puntuación surge de las actividades relacionadas con los 3 pilares. Cada pilar posee tareas a desarrollar durante la vigencia del programa, 
          los cuales otorgarán un puntaje previamente determinado. <b> La suma máxima a lograr con las actividades es de 100 puntos.</b><br>
          El programa se inicia a partir del 1ro. de enero de 2018.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-4">
    <ng-template ngbPanelTitle>
      <h3><img src="{{bullet}}" alt=""> Requisitos </h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p> Para ser <b>Knauf Partner</b> requerimos el cumplimiento de algunas condiciones básicas:</p>
      <ul class="text-left">
        <li> El punto de venta participante debe tener al menos 1 año de antigüedad con Knauf. </li>
        <li> La marca Knauf (aviso) sea visible ya sea en interior o exterior del punto de venta. </li>
        <li> Espacio asignado para material publicitario exclusivamente para la marca Knauf. </li>
        <li> Registro previo a través de nuestro sitio web o enviando un correo a 
          <a href="mailto:partner@knauf.com.co">partner@knauf.com.co</a>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-5">
    <ng-template ngbPanelTitle>
      <h3><img src="{{bullet}}" alt=""> Beneficios </h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>El compromiso y esfuerzo tendrá su recompensa.</p>
      <p class="blue-text"> <i class="fa fa-phone-square icon-circle"></i> SERVICIO PERSONALIZADO <br></p> <p>Servicio personalizado directo con el quipo comercial y técnico.</p>
      <p class="blue-text"> <i class="fa fa-paper-plane icon-circle"></i> COTIZACIONES <br></p> <p>Las propuestas ecónomicas y especializadas tendrán prioridad.</p>
      <p class="blue-text"> <i class="fa fa-code-fork icon-circle"></i> SOPORTE EN VENTAS <br></p> <p>Información y apoyo en proyectos, oportunidades con constructoras.</p>
      <p class="blue-text"> <i class="fa fa-truck icon-circle"></i> SERVICIO DE ENTREGA <br></p> <p>Entregas priorizadas, servicios especiales en consolidación de la carga y novedades en pedidos programados.</p>
      <p class="blue-text"> <i class="fa fa-briefcase icon-circle"></i> MERCADEO <br></p> <p>Catálogo de mercadeo exclusivo para socios comerciales.</p>
      <p class="blue-text"> <i class="fa fa-mortar-board icon-circle"></i> ENTRENAMIENTO <br></p> <p>Entrenamientos exclusivos del portafolio de productos.<br>
        Capacitación para vendedores o instaladores en el sitio, previamente definido por el cliente<br>
        Seminarios de conferencistas especializadas en diversos temas, dirigido a directivos de los puntos de venta.</p>
      <p class="blue-text"> <i class="fa fa-glass icon-circle"></i> EVENTOS DE LA RED <br></p> <p> Asistencia exclusiva para Partners de la red Knauf.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-7">
    <ng-template ngbPanelTitle>
      <h3><img src="{{bullet}}" alt=""> ¿Cúales son los Términos y Condiciones? </h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p> Usted puede consultar nuestros Términos y Condiciones, haciendo 
          <a target="_blank" rel="noopener" title="Reglamento" href="assets/Reglamento Knauf Partner Program.pdf">
          Click Aquí.
        </a>
      </p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>